header {
    background-color: #fbdfdf;
}

.header {
    position: relative;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: rgb(187, 110, 110);
    font-weight: 700;
}
