@import './variables.scss';

@media (max-width: 1400px) {
    .container {
        max-width: 900px;
        .goods-list__wrapper {
            .goods-items {
                .goods-item {
                    transition: all 0s;
                    &:hover {
                        scale: 1;
                        box-shadow: 0px 0px 0px 0px #fff;
                    }
                }
            }
            button {
                &:hover {
                    background-color: $main-color;
                }
                &:active{
                    background-color: $main-color;
                    border: 1.5px solid  #ab4848;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .container {
        max-width: 750px;
        .footer {
            padding: 10px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 560px;
        .header {
            justify-content: start;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 310px;
        .header {
            width: 260px;
            min-height: 120px;
            h1 {
                font-size: 35px;
            }
            .cart {
                left: 120%;
                transform: translateX(-100%);
                &-wrapper { 
                    width: 80px;
                }
                &-img {
                    height: 60px;
                    width: 60px;

                }
                &-count {
                    min-width: 23px;
                    border-radius: 11px;
                    font-size: 16px;
                    top: -23%;
                }
                &-sum {
                    min-width: 60px;
                    font-size: 16px;
                }
            }
        }
        .footer {
            font-size: 21px;
            &-networks {
                &__telegram, &__github {
                    width: 35px;
                    height: 35px;
                }  
            }
        }
        .goods-list__wrapper {
            .goods-items {
                width: 100%;
                .goods-item {
                    height: 415px;
                    font-size: 17px;
                    &__price {
                        margin-top: 3px;
                    }
                    &__image {
                        height: 280px;
                        width: 280px;
                    }
                    &__title {
                        height: 60px;
                    }
                }
            }
            button {
                font-size: 19px;
                &.reload-btn {
                    font-size: 22px;
                    height: 50px;
                }
            }
        }
    }
}